<h1 class="mt-4">Account</h1>
{{> messages}}
<p class="lead mb-3">Welcome {{name}}</p>

<div class="container lead mb-3" class="transactions">
</div>

<a href="/user/logout" class="btn btn-secondary">Logout</a>

          {{#each history}}
            <div class="card bg-light col-3 m-2" style = "height:auto">
              <div class ="card-body mx-auto">
                <h5>{{this.coin_count}}</h5>
              </div>
            </div>
          {{/each}}