<!-- Page Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center main">
      <div>            
      <!--form to test crypto api-->
        <div>
          <h1 class="mt-5">Crypto Finder</h1>
          <h2 name=""></h2>
          <p class="lead">Enter the name of the crypto and press Go!</p>
        </div>
        <form action="/" method="POST">
          <input name="crypto" type="text" >
          <button>Go!</button>
        </form>
        <div class="mt-3">
        <!--two pairs of curly braces allows us to access property from post request-->
        <img src="{{logo}}" style="width:75px;">
        {{cryptoInfo}}
        {{error}}
        </div>
      </div>
    </div>
  </div>
</div>

